* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

header,
ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header,
footer {
  background-color: #222;
  color: #fff;
}

header {
  padding: 8px 24px;
  gap: 48px;

  position: fixed;
  width: 100%;

  /* tema para uma outra aula */
  z-index: 1;
}

header ul {
  gap: 16px;
  list-style: none;
}

header a {
  color: #fff;
}

section {
  margin-bottom: 10px;
  padding: 96px 24px 0;

  display: flex;
  align-items: flex-start;
  gap: 24px;
}

section h2 {
  min-width: 110px;

  position: sticky;
  top: 96px;
}

main {
  padding-bottom: 96px;
}

footer {
  padding: 48px 24px;

  position: relative;
}

footer p {
  text-align: center;
}

footer a {
  padding: 8px 16px;
  color: #fff;
  background-color: #222;

  position: absolute;
  top: -48px;
  right: 24px;

  text-decoration: none;
}