* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 180px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li + li {
    margin-left: 24px;
}

header a {
    color: #ebebeb;
    text-decoration: none;
    transition: color 0.2s;
}

header a:hover {
    color: #f13239;
}

